body { background-color: black; ;}
/* about_us */
.hero_about{background-image: url(../img/contact/RoyalPalms-16__2__crop__1___1___2_.jpg);}
.hero_title {width: 74.68354%; height: calc(80vh - 200px); display: flex; flex-direction: column; justify-content: flex-end; margin: 0 auto; box-sizing: border-box; letter-spacing: normal;}

/* contact info*/
.contact_info {width: 100vw; box-sizing: border-box;  padding-top: 140px; }
.contact_info_container {width: 74.68354%; margin: 0 auto; display: flex; margin-bottom: 200px;}
    .section_subtitle {width: 32.20339%; padding-top: 14px; box-sizing: border-box;}
    .section_subtitle_nopadding {width: 32.20339%; margin-bottom: 60px;}
    .section_subtitle_rule_black {width: 47.36842%; border-top: 1px solid black; margin-bottom: 20px;}
    .section_subtitle_rule_white {width: 47.36842%; border-top: 1px solid white; margin-bottom: 20px;}

.contact_info_section_content {width: 66.10169%; margin-left: 1.69492%;}
.contact_info_title {width: 74.35897%;}
.contact_info_item_title { width: 100%; display: flex; flex-wrap: wrap;}
.contact_item {width: 48.71795%; margin-top: 100px; padding-right: 1.69492%;}
.contact_item a:hover {cursor: pointer;}
.contact_item :first-child {margin-bottom: 40px;}

/*offices*/
.offices {width: 100vw; padding-bottom: 100px; box-sizing: border-box;}
.offices_container {width: 89.87342%; margin: 0 auto; display: flex; flex-wrap: wrap;}
.offices_card {background-color: white; width: 33.33333%; padding: 115px 70px 30px; border-right: 1px solid black; border-bottom: 1px solid black; position: relative;}
.offices_card h4 {margin-bottom: 50px;}
.offices_card h5 {margin-bottom: 20px;}
.offices_card :nth-child(5) {min-height: 100px}
.offices_card :last-child {width: 35px; height: 35px; bottom: 30px; right: 30px; position: absolute;}

.offices_container a:hover {background-color: #7f7f7f; transition: all 0.4s; cursor: pointer;}

 /*about latest news*/
.about_latest_news {width: 100vw; background-image: url(../img/contact/Predictions_for_the_Year_Ahead.jpg); background-size: cover; position: relative;}
.about_latest_news > div:first-child {background-color: rgba(0, 0, 0, 0.7); width: 100vw; padding: 200px 0;}

.about_latest_news_wrap {width:100vw; display: flex; justify-content: center;}
    .about_latest_news_left {width: 18.98734%; padding-bottom: 18.98734%; padding-left: 300px; margin-right: 1.25%; background-image: url(../img/work/magenta-hero.gif); background-size: cover;}
    .about_latest_news_right {width: 43.03797%; margin-right: 1.26582%; margin-left: 5.06329%; display: flex; flex-direction: column; justify-content: center}
        .about_latest_news_right h2 {font-size: 80px; color: white;}
        .about_latest_news_right p {font-family: 'galaxie-Book'; font-size: 18px; color: white; line-height: 24px; line-height: 1.88889;}