/* logo css */
        
#hugeinc_logo {width: 74px; height: 74px; background-color: white ;position: fixed; left:calc(50vw - 37px); top: 50px; display: flex; justify-content: center; align-items: center; font-size: 36px; font-family: 'HugeGothic-Bold'; font-weight: 600; z-index: 10000;}
    #hugeinc_logo:hover {cursor: pointer;}
    #hugeinc_logo div {width: 48px; height: 48px; color: #ea178c; text-align: center; line-height: 48px;}

/* header gnb 클래스 */

#home_header {width: 100vw; height: 440px; background-color: #f7f7f7; visibility: hidden;}

.gnb_wrap { width: 100vw; height: 440px; display: flex; justify-content: center; align-items: center; position: relative; box-sizing: border-box;}

.menu_wrap { width: 1050px; height: 90px; display: flex; justify-content: space-between; align-items: center; margin: 0 auto;}
    .menu_wrap li {width: 190px; height: 90px; display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 0 10px;}
        .menu_wrap li a:hover {color: #ea178c; cursor: pointer;}
        .menu_wrap a {font-family: 'HugeGothic-Bold'; font-size: 36px;line-height: 32px;}
        .menu_wrap p {font-family: 'galaxie-Book'; font-size: 14px; margin-top: 8px; letter-spacing: -1px;}
        .menu_wrap div {border-bottom: 1px solid black; width: 48px; height: 90px;}

.gnb_aside { position: absolute; top: 360px; bottom: auto; display: flex; width: 300px; left: calc(50% - 150px); line-height: 16px;}
    .gnb_aside a:hover {color: #ea178c; cursor: pointer;}
    .gnb_aside p {font-family: 'galaxie-Book'; font-size: 12px;}
    .gnb_aside a {font-family: 'HugeGothic-Bold'; font-size: 16px; margin-left: 4.8px;}
    .gnb_aside span {color: #ea178c;}

 /* main home 클래스 */

.main_home_wrap {width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; position: relative;}
    .main_home_wrap h1 {text-align: center;}

.main_home_content_wrap {width: 100vw; height: 90px; font-family: 'galaxie-Book'; position: absolute; bottom: 0; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .main_home_content_wrap:first-child {text-align: center; height: 60px;}
    .main_home_content_wrap :nth-child(2) {width: 1px; height: 30px; border-left: 1px solid black; margin-top: 30px;}

/* home 클래스 */

.home_section_wrap {width: 100vw; height: 100vh; box-sizing: border-box; display: flex;}
.home_section_index {width: 12.5vw; height: 100vh; padding-top: 20vh; box-sizing: border-box;}

.home_section_index_wrap {display: flex; justify-content: flex-end;}
    .home_section_index_wrap p {font-family: 'HugeGothic-Bold'; font-size: 22px; line-height: 22px; margin-right: 15px; letter-spacing: 1px;}
    .home_section_index_wrap div { width: 5vw; height: 11px;}

.home_section_contents {width: 75vw; height: 100vh; padding: 20vh 0; padding-left: 15px;box-sizing: border-box;}
.home_section_contents_wrap {width: 44%; height: 60vh;}
    .home_section_contents_wrap:first-child {font-family: 'HugeGothic-Bold'; font-size: 22px;line-height: 22px; letter-spacing: 1px;}

.home_section_contents_subwrap {width: 100%; height: calc(100% - 22px);display: flex; flex-direction: column; justify-content: center;}
    .home_section_contents_subwrap h2 {font-family: 'HugeGothic-Bold'; font-size: 72px; line-height: 72px;}
    .home_section_contents_subwrap div {width: 5vw; margin: 30px 0;}
    .home_section_contents_subwrap p {font-family: 'galaxie-Book'; font-size: 16px; line-height: 36px; width: 85%; font-weight: 100;}

/* footer section */

.home_footer { width: 100vw; height: 240px; padding: 70px 0 80px; box-sizing: border-box;}
    .home_footer > div {width: 100vw; height: 90px; padding: 0 calc(12.5vw + 15px); display: flex; justify-content: space-between; min-width: 1000px;}


.footer_content_left {display: flex; flex-direction: row; align-items: center;}
    .footer_content_left div { font-family: 'HugeGothic-Bold'; font-size: 36px; line-height: 36px; border-right: 1px solid #888888; padding-right: 32px; margin-right: 32px; letter-spacing: 4px;}
    .footer_content_left p { font-family: 'HugeGothic-Bold'; font-size: 18px; line-height: 36px; letter-spacing: 1px;}  

.footer_content_right { display: flex; justify-content: flex-end; flex-direction: column;}
    .footer_content_right div { font-family: 'HugeGothic-Bold'; font-size: 14px; line-height: 24px; letter-spacing: 1px; color: #c8c8c8; margin-bottom: 10px;}
    .footer_content_right a {margin-right: 16px;}
    .footer_content_right a:last-child {margin-right: 0;}  

    .footer_aside { font-family: 'galaxie-Book'; font-size: 12px; line-height: 20px; text-align: right;}

/* home img */
.home_img_01 { background-image: url(../img/hugeinc.png); background-size: cover; width: 100vw; height: 100vh;}
.home_img_02 { background-image: url(../img/hugeinc16.png); background-size: cover; width: 100vw; height: 100vh;}
.home_img_03 {background-image: url(../img/hugeinc10.png); background-size: cover; width: 100vw; height: 100vh;}
.home_img_04 {background-image: url(../img/hugeinc12.png); background-size: cover; width: 100vw; height: 100vh;}
.home_img_05 {background-image: url(../img/hugeinc2.jpg); background-size: cover; width: 100vw; height: 100vh;}
.home_img_06 {background-image: url(../img/hugeinc3.jpg); background-size: cover; width: 100vw; height: 100vh;}
.home_img_07 {background-image: url(../img/hugeinc1.jpg); background-size: cover; width: 100vw; height: 100vh;}

/* home section id*/
#home_1 {}
#home_2 {}
#home_3 {}
#home_4 {}
#home_5 {}
#home_6 {}
#home_7 {}