body {background-color: black;}

/*work video*/
.work_video {width: 100%; position: relative; display:block;  height: 80vh;  overflow: hidden; padding: 140px 0 60px;}
.video_container {position: absolute; min-width: 100%; min-height: 100%; width: auto; height: auto; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.play_icon_container {width:74px; height: 74px; background-color: rgba(234, 23, 140, 0.6); z-index: 100; position: absolute; transform: translate(-50%, -50%); left: 50%; top: 50%; display: flex; justify-content: center; align-items: center;}
.play_icon_container:hover {cursor: pointer;}
.icon_size {width: 20%; height: 20%;}

/*grid header*/
.grid_header {width: 100%; height: 210px; box-sizing: border-box; display: flex; justify-content: center; align-items: center;  font-size: 56px; font-family: 'galaxie-Book'; margin: 0 auto; letter-spacing: -4px;}

/*img_grid_tile*/
.img_grid {background-color: black; width: 100%; padding-bottom: 95px;}
.img_grid_container { width: 90vw; margin: 0 auto; display: flex; flex-wrap: wrap; }
.img_grid_container li {width: 30vw; height:30vw; background-size: cover; background-repeat: no-repeat; background-position: center; position: relative; z-index: 1;}
.grid_img_container {display:flex; box-sizing: border-box; width: 30vw; height:30vw; transition: all 0.3s; flex-direction: column; justify-content: flex-end;}
.grid_img_container:hover {background-color: rgba(0, 0, 0, 0.7); cursor: pointer; padding-bottom: 50px;}
.grid_title {position: relative; color: #fff; margin: 0 9.25% 6.75%; z-index: 3; width: 100%;}
.arrow_icon_container {position: absolute; bottom: 6.75%; left: 11%; z-index: -1;}
.arrow_icon {overflow: hidden;}

/* img_grid*/
.img_grid_container li:nth-child(1) {background-image: url(../img/work/img_grid/vermont.jpg);}
.img_grid_container li:nth-child(2) {background-image: url(../img/work/img_grid/scott_sports.jpg);}
.img_grid_container li:nth-child(3) {background-image: url(../img/work/img_grid/android.jpg);}
.img_grid_container li:nth-child(4) {background-image: url(../img/work/img_grid/amc_theatres.jpg);}
.img_grid_container li:nth-child(5) {background-image: url(../img/work/img_grid/canada_goose.jpg); }
.img_grid_container li:nth-child(6) {background-image: url(../img/work/img_grid/google.jpg);}
.img_grid_container li:nth-child(7) {background-image: url(../img/work/img_grid/gucci.jpg);}
.img_grid_container li:nth-child(8) {background-image: url(../img/work/img_grid/hulu.jpg);}
.img_grid_container li:nth-child(9) {background-image: url(../img/work/img_grid/kohl.jpg);}
.img_grid_container li:nth-child(10) {background-image: url(../img/work/img_grid/lg.jpg);}
.img_grid_container li:nth-child(11) {background-image: url(../img/work/img_grid/lenovo.jpg);}
.img_grid_container li:nth-child(12) {background-image: url(../img/work/img_grid/nbc_unicersal.jpg);}
.img_grid_container li:nth-child(13) {background-image: url(../img/work/img_grid/nike.jpg);}
.img_grid_container li:nth-child(14) {background-image: url(../img/work/img_grid/pfizer.jpg);}
.img_grid_container li:nth-child(15) {background-image: url(../img/work/img_grid/SK-II.jpg);}
.img_grid_container li:nth-child(16) {background-image: url(../img/work/img_grid/randstad.png);}
.img_grid_container li:nth-child(17) {background-image: url(../img/work/img_grid/telus.jpg);}
.img_grid_container li:nth-child(18) {background-image: url(../img/work/img_grid/zelle.jpg);}



/*select clients*/
.select_clients {background-color: #111111; width: 100%; padding: 140px 0; box-sizing: border-box;}

.select_clients_container {width: 74.68354%; display: flex; box-sizing: border-box; margin: 0 auto;}

.select_clients_container_left {width: 32.20339%;}
    .select_clients_container_left hr {width: 46.36842%; height: 1px; border-top: 1px solid white;}
    .select_clients_container_left h4 {font-family: 'HugeGothic-Bold'; font-size: 22px; color: white; line-height: 44px;}

.select_clients_container_right {width: 66.10169%; display: flex; justify-content: flex-start; flex-wrap: wrap; align-items: center; align-content: flex-start;}
    .select_clients_container_right li {width: 15.3846%; margin-right: 10.25641%; margin-bottom: 50px; box-sizing: border-box;}
    .select_clients_container_right li img {width: 100%;}
    .select_clients_container_right li:nth-child(4n) {margin-right: 0;}


/* about latest news */
.about_latest_news {background-image: url(../img/work/9.jpg); }


@media screen and (max-width:999px) {
    .grid_header {font-size: 42px;}
    .img_grid_container li {width: 45vw; height: 45vw;}
    .img_grid_container li a {width: 45vw; height: 45vw; padding-top: calc(45vw - 64px);}
    .img_grid_container li a:hover {padding-top: calc(45vw - 124px)}
    .select_clients_container {flex-direction: column;}
    .select_clients_container_left {width: 48.97959%}
    .select_clients_container_left h4 {font-size: 14px; white-space: nowrap; }
    .select_clients_container_right {width: 100%;}
    .select_clients_container_right li {width: 33.3333%; margin-right: 0; margin-bottom: 50px;}
}
@media screen and (max-width:768px) {
    h4 {font-size: 36px;}
    .work_video {height: 70vh;}
    .grid_header {font-size: 30px; text-align: center; width: 86.9vw; margin: 0 auto; letter-spacing: -1px;}
    .img_grid_container li {width: 89.6vw; height: 89.6vw;}
    .img_grid_container li a {width: 89.6vw; height: 89.6vw; padding-top: calc(89.6vw - 64px);}
    .img_grid_container li a:hover {padding-top: calc(89.6vw - 124px)}
    .work_03_arrow {margin-left: 1%;}
    .select_clients {padding: 60px 0;}
    .select_clients_container_left {width: 82.75862%; margin-bottom: 40px;}
    .play_icon_container {width: 60px; height: 60px;}
}